<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Admin - Dashboard HTML Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="css/templatemo-style.css">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
</head>

<body id="reportsPage">
    <div class="" id="home">
        <%- include('../partials/adminnav.ejs') %>
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Orders List</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ORDER NO.</th>
                                    <th scope="col">PRODUCT</th>
                                    <th scope="col">SIZE</th>
                                    <th scope="col">QUANTITY</th>
                                    <th scope="col">TOTAL AMOUNT</th>
                                    <th scope="col">STATUS</th>
                                    <th scope="col">MARK</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (orders.length > 0) { %>
                                    <% orders.forEach(order => { %>
                                        <tr>
                                            <th scope="row"><b>#<%= order.order_no %></b></th>
                                            <td><%= order.products %></td>
                                            <td><%= order.sizes %></td>
                                            <td><%= order.quantities %></td>
                                            <td><%= order.total_amount %></td>
                                            <td>
                                                <%= order.status %>
                                            </td>
                                            <td>
                                                <% if (order.status === 'Preparing') { %>
                                                    <button 
                                                        class="btn btn-success btn-sm mark-done" 
                                                        data-order-no="<%= order.order_no %>">
                                                        Mark as Done
                                                    </button>
                                                <% } %>
                                            </td>
                                        </tr>
                                    <% }); %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="5" class="text-center">No orders found</td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            
        </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="js/tooplate-scripts.js"></script>
    <script>
        $(document).on("click", ".mark-done", function () {
    const orderNo = $(this).data("order-no");

    console.log('Sending order number to server:', orderNo);

    if (confirm("Are you sure you want to mark this order as done?")) {
      $.ajax({
        url: "/orders/mark-done",
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify({ order_no: orderNo }),
        success: function (response) {
          console.log('Server response:', response);
          alert(response.message);
          location.reload();
        },
        error: function (xhr) {
          console.error('AJAX error:', xhr.responseText);
          alert("Error: " + xhr.responseText);
        }
      });
    }
  });

  $(document).ready(function() {
    $('#dailyReportLink').on('click', function(e) {
        e.preventDefault(); // Prevent the default link action

        // Get the current date to append it to the URL query (if needed)
        const today = new Date().toISOString().split('T')[0]; // Format as YYYY-MM-DD

        // Redirect to the export-sales route to trigger the download
        window.location.href = `/export-sales?startDate=${today}&endDate=${today}`;
    });
});
    </script>
</body>

</html>